<div nz-row [nzGutter]="24" class="pt-lg">
  <!-- 展示与新建门店模板暂不做处理 -->
  <!--
    杀人案？自杀？不可能犯罪？
    从楼顶跃下，定案为自杀
    没有任何自杀的理由，
    阿花，小天，昆哥，王明
    被晕倒，被人从楼顶扔下去，造成自杀的假象
    大魔王为了挑战夏至，从他身边的人下手，
    昆哥开车刹车失灵，伪装成意外，阿花食物中毒，小天被溺，夏至救之
      <div nz-col [nzSpan]="24" style="margin-bottom: 24px">
      <button nz-button [nzType]="'default'">
        <nz-popconfirm [nzTitle]="'是否新建门店模板？'" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">
          <a nz-popconfirm>新建门店模板</a>
        </nz-popconfirm>
      </button>
      <button nz-button [nzType]="'default'">
        <i class="anticon anticon-plus-circle-o"></i>
        点击预览效果图
      </button>
      <nz-alert [nzType]="'info'" [nzMessage]="'温馨提示'"
                [nzDescription]="'一套门店模板可以入驻多个酒店；它们之间关系为：门店模板->分类->商品'" nzShowIcon style="margin-top: 15px">
      </nz-alert>
    </div>
    <div nz-col [nzSpan]="4">
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item *ngFor="let t of template">
          <span><i class="anticon anticon-file"></i>
            <span class="nav-text">门店模板{{t.template}}</span>
          </span>
        </li>
      </ul>
    </div>
  -->
  <!-- 查询应用信息，并展示应用内商品 -->
  <div nz-col [nzSpan]="4">
    <ul nz-menu [nzMode]="'inline'">
      <li nz-menu-item *ngFor="let app of apps" (click)="tempQuery(app.appcode)">
            <span><i class="anticon anticon-file"></i>
              <span class="nav-text">{{app.title}}</span>
            </span>
      </li>
    </ul>
  </div>
  <div nz-col [nzSpan]="20">
    <nz-card [nzBordered]="false" [nzNoHovering]="true" *ngFor="let t of template" id="template{{t.template}}">
      <ng-template #title>
        门店模板{{t.template}}
        <nz-tag [nzColor]="'blue'">测试酒店</nz-tag>
      </ng-template>
      <ng-template #extra>
        <button nz-button [nzType]="'default'" (click)="newChannel(t.template)">
          <i class="anticon anticon-plus-circle-o"></i>
          新增分类
        </button>
        <!-- <button nz-button [nzType]="'danger'" (click)="bandTemplateAPPID(t.template)">
          上线该模板门店
        </button> -->
      </ng-template>
      <ng-template #body>
        <div nz-row [nzGutter]="24" *ngFor="let c of t.data">
          <div nz-col [nzSpan]="24" style="padding-bottom: 15px">
            <nz-alert [nzType]="'info'"><span alert-body><pre>[{{c.num}}]{{c.name}}</pre></span></nz-alert>
          </div>
          <div nz-col [nzSpan]="24" style="padding-bottom: 15px">
            <button nz-button [nzType]="'dashed'" (click)="editChannel(t.template,c)">
              <i class="anticon anticon-plus-circle-o"></i>
              修改分类
            </button>
            <button nz-button [nzType]="'dashed'" (click)="addGoods(c)">
              <i class="anticon anticon-shop"></i>
              上架商品
            </button>
            <button nz-button [nzType]="'dashed'">
              <nz-popconfirm [nzTitle]="'确定删除该分类？'" (nzOnConfirm)="delChannel(t.template, c.channel)"
                             (nzOnCancel)="cancel()">
                <a nz-popconfirm>删除分类</a>
              </nz-popconfirm>
            </button>
          </div>
          <div nz-col [nzSpan]="8" *ngFor="let good of c.goods">
            <nz-card [nzNoHovering]="true" class="goods" *ngIf="good.info">
              <ng-template #body>
                <div class="goods-detail">
                  <div class="goods-desc">
                    <div class="goods-title">{{good.info.goods_name}}</div>
                    <div class="goods-price">￥ {{(good.info.price / 100).toFixed(2)}}</div>
                    <div>
                      <nz-tag [nzColor]="'red'">{{good.info.tag}}</nz-tag>
                    </div>
                    <div>{{good.info.spec}}</div>
                    <div>{{good.info.description}}</div>
                  </div>
                  <div class="goods-img">
                    <img src="{{good.info.pic}}"/>
                  </div>
                </div>
                <div class="goods-handle">
                  <button nz-button [nzType]="'danger'">
                    <nz-popconfirm [nzTitle]="'确定移除该商品？'" (nzOnConfirm)="delGoods(c.channel, good.info.id)"
                                   (nzOnCancel)="cancel()">
                      <a nz-popconfirm>移除商品</a>
                    </nz-popconfirm>
                  </button>
                </div>
              </ng-template>
            </nz-card>
          </div>
        </div>
      </ng-template>
    </nz-card>
  </div>
</div>
